fastapi
uvicorn[standard]
python-multipart
jinja2
opencv-python-headless
numpy
scikit-learn
pillow
ultralytics
gunicorn
sqlalchemy
psycopg2-binary
asyncpg
onnx
onnxruntime
gradio_client
anyio
httpx
aiosqlite